.body {
    padding: 20px;
    min-height: 70vh;
    background: rgb(6, 8, 26);
    background-image: url(./Images/trans-react-image.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-clip: padding-box;
}

.fun-fact-list ul li,
h1,
.fun-fact-list ul li h1 {
    padding: 10px;
    color: white;
    font-size: 25px;
}


.navigationItems {
    display: flex;
    height: auto;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 4, 28);
}

.navigationItems ul {
    width: 100vw;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.navigationItems .header-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 20px;

}

.end-item {
    margin-right: 40px;
}

.navigationItems li {
    color: white;
    padding: 10px;
    /* text-decoration: none; */
}

.navigationItems ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


.fun-fact-list ul > li::marker {
    font-size: 2.3rem;
    color: rgb(198, 224, 236);
}

.footer-section {
    padding: 15px;
    color: white;
    background-color: rgb(1, 4, 28);
}